<article class="@@description-card">
  <img class="imagen" src="./images/cris-muñiz.jpg" alt="imagen de cris" />
  <h3 class="nombres">Cristina Muñiz</h3>
  <p class="descripciones">Descripción de Cris</p>
  <nav class="nav-rrss">
    <ul class="rrss">
      <li class="dot">
        <a
          class="enlace-rrss"
          href="https://twitter.com/?lang=es"
          target="_blank"
        >
          <img
            class="logo-rrss twitter"
            src="./images/square-twitter.svg"
            alt="Logo de Twitter"
          />
        </a>
      </li>
      <li>
        <a
          class="enlace-rrss"
          href="https://www.linkedin.com/feed/"
          target="_blank"
        >
          <img
            class="logo-rrss linkedin"
            src="./images/linkedin.svg"
            alt="Logo de LinkedIn"
          />
        </a>
      </li>
      <li>
        <a class="enlace-rrss" href="https://github.com/" target="_blank">
          <img
            class="logo-rrss github"
            src="./images/github.svg"
            alt="Logo de GitHub"
          />
        </a>
      </li>
      <li>
        <a
          class="enlace-rrss"
          href="mailto: cristinamuniz85@gmail.com"
          target="_blank"
        >
          <img
            class="logo-rrss github"
            src="./images/envelope-regular.svg"
            alt="Logo de Email"
          />
        </a>
      </li>
    </ul>
  </nav>
</article>
