<header class="header1">
  <div class="header-base">
    <h1 class="nombre-header">VILLANAS DEL CÓDIGO</h1>
  </div>
  <div class="header2">
    <nav class="nav-header">
      <ul id="menuh">
        <li class="equipo-header"><a href="./index.html#team-section"">EQUIPO</a></li>
        <li class="quienes-header"><a href="./index.html#us-section">QUIÉNES SOMOS</a></li>
        <li class="contacto-header"><a href="./contact.html">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
