<footer class="footer">
  <p class="copy">Villanas del código &copy; 2023</p>
  <nav>
    <ul class="menufooter">
      <li><a href="#">Equipo</a></li>
      <li><a href="#">Quiénes somos</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
    </ul>
  </nav>
  <a href="https://adalab.es/" target="_blank" title="Adalab">
    <figure>
      <img
        class="imgfooter"
        src="./assets/images/logo-adalab.png"
        alt="Logo de Adalab"
      />
    </figure>
  </a>
</footer>
