<footer class="footer">
  <small class="footer__copy">Villanas del código &copy; 2023</small>
  <nav class="footer__menu">
    <ul class="footer__menu--list">
      <li><a href="../index.html#team-section">Equipo</a></li>
      <li><a href="../index.html#us-section">Quiénes somos</a></li>
      <li><a href="./contact.html">Contacto</a></li>
    </ul>
  </nav>
  <a class="footer__logo" href="https://adalab.es/" target="_blank" title="Adalab">
    <img class="footer__logo--img" src="./assets/images/logo-adalab.png" alt="Logo de Adalab" />
  </a>
</footer>
<div class="footer2">
  <article class="footer2__left">
    <small class="footer2__left--copy">Villanas del código &copy; 2023</small>
    <a class="footer__logo" href="https://adalab.es/" target="_blank" title="Adalab">
      <img class="footer__logo--img" src="./assets/images/logo-adalab.png" alt="Logo de Adalab" />
    </a>
  </article>
  <article class="footer2__right">
    <nav>
      <ul class="footer__menu--list">
        <li><a href="./index.html#team-section">Equipo</a></li>
        <li><a href="./index.html#us-section">Quiénes somos</a></li>
        <li><a href="./contact.html">Contacto</a></li>
      </ul>
    </nav>
  </article>
</div>
