<header class="header">
  <div class="header__base">
    <h1 class="header__base--title">VILLANAS DEL CÓDIGO</h1>
  </div>
  <div class="header__bottom">
    <nav class="navHeader">
      <ul class="navHeader__list" id="menuh">
        <li class="navHeader__list--item">
          <a href="./index.html#team-section">EQUIPO</a>
        </li>
        <li class="navHeader__list--item">
          <a href="./index.html#us-section">QUIÉNES SOMOS</a>
        </li>
        <li class="navHeader__list--item">
          <a href="./contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
