 <section class="section-1" id="team-section">
    <div class="columna_central">
      <article>
        <h2 class="equipo">EQUIPO</h2>
          <p class="parrafo">
            Somos Villanas del código que en el pasado vivíamos tranquilamente transitando otras
            profesiones hasta que distintas situaciones despertaron nuestro lado más oscuro y malvado.
            La vida nos ha reunido en el camino a conseguir la fuente de poder universal Adalab y
            estamos dispuestas a todo para conseguirla.
          </p>
      </article>
    </div>
      <article class="section-2">
        <div class="flecha"><div class="flecha_hija"></div></div>
        <div class="caja-gris">
      <article class="fort-deb">
        <div class="columna_central">
        <h3 class="h3-fort-deb">Fortalezas</h3>
        <p class="parrafo-3-4">
          No nos temblará el pulso a la hora de usar nuestras distintas experiencias y conocimiento
          previos, la diversidad está de nuestro lado y no dudaremos en adaptarnos y aprender rápida
          y creativamente. ¡Nos tenemos unas a otras para seguir adelante!
        </p>
        </div>
      </article>
      <article class="fort-deb">
        <div class="columna_central">
        <h3 class="h3-fort-deb">Debilidades</h3>
        <p class="parrafo-3-4">
          Mejoraremos código a código, slack a slack, sprint a sprint y catacroquis a catacroquis. No
          le tenemos miedo al camino que tenemos por delante, que la suerte de principiante está de
          nuestro lado.
        </p>
        </div>
      </article>
    </div>
</section>

