<section id="us-section" class="section2">
  <div class="columna_central">
    <span class="QUINES-SOMOS"> QUIÉNES SOMOS </span>

    <!--CARD LEFT-->
    <article class="left-card">
      <img class="imagen" src="./assets/images/cris-muñiz.jpg" alt="imagen de cris" />
      <div class="info-card-left">
        <h3 class="nombres">Cristina Muñiz</h3>
        <p class="descripciones descripciones-left">
          Nací en el imperio Inca.Siempre he llevado una vida de lujos y éxito siendo la consejera
          real de palacio pero las malas prácticas con el Html hicieron que el emperador me
          despidiera y degradase a vivir en el exilio.Por todo esto emprendí mi venganza contra los
          programadores haciendo uso de pociones que cambiarán todos sus repositorios en Github y
          harán que desaparezcan. El poder de las branch me pertenece y tiraré de la palanca para
          que no podaís hacer push. Hahaha
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:cristinamuniz85@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>

    <!--CARD RIGHT 2-->

    <article class="right-card">
      <img class="imagen img-right" src="./assets/images/maria-robles.jpg" alt="imagen de maria" />
      <div class="info-card-right">
        <h3 class="nombres">María Robles</h3>
        <p class="descripciones descripciones-right">
          Harta del patriarcado submarino que me despojó de mi reinado, decidí cambiar las reglas
          creando el código mágico definitivo. Desde ya, ninguna brujamadora se verá descartada de
          entrevistas laborales, pasando pruebas técnicas a golpe de tentáculo y dejando sin voz a
          los que osen pasar de nuestros repositorios… ¡Pobres developers en desgracia!
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:roblesb.maria@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>

    <!--CARD LEFT 3-->
    <article class="left-card">
      <img class="imagen" src="./assets/images/suelen.jpg" alt="imagen de suelen" />
      <div class="info-card-left">
        <h3 class="nombres">Suelen Ranucci</h3>
        <p class="descripciones descripciones-left">
          Me presento, Soy GothelGrid. En 1957 encontré (y robé), mi primer código de programación,
          Al decir las palabras "Fortran Gleam and Glow" delante de código, la magia acontece: me
          transformo en una mujer Fuerte, Empoderada, Determinada, llena de fuerzas y magia... Pero
          si me alejo de los códigos, todo eso se acaba, así que encontré la manera de mantenerme
          cerca: "El bootcamp de programación de ADALAB", donde puedo robar el código de mis
          compañeras de curso sin que me pillen. HA HA HA HA ¡Todo los poder de los Script's son
          mío!
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:suelenranucci@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>

    <!--CARD RIGHT 4-->
    <article class="right-card">
      <img class="imagen img-right" src="./assets/images/Celia.jpg" alt="imagen de celia" />
      <div class="info-card-right">
        <h3 class="nombres">Celia Suarez</h3>
        <p class="descripciones descripciones-right">
          Soy una mujer obsesionada con los códigos. Tengo la mitad izquierda de mi cabello blanco y
          la mitad derecha de color negro, del estrés; y siempre intento secuestrar a programadores
          senior para quitarles su código, usando a mis dos sirvientes, dos ladrones llamados
          Horacio y Gaspar. También soy directora, empresaria y propietaria de una consultora, donde
          todos mis programadores tienen contratos de prácticas. Tengo obsesión por los
          programadores junior, se debe a que, cuando envejecen,piden aumentos de sueldo. Si algo o
          alguien me hubiera importado, podría haber muerto como muchas mujeres brillantes, con un
          cajón repleto de genialidades invisibles y un corazón lleno de triste amargura.
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:celiam.suarez19@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>

    <!--CARD LEFT 5-->
    <article class="left-card">
      <img class="imagen" src="./assets/images/kathi.jpg" alt="imagen de kathi" />
      <div class="info-card-left">
        <h3 class="nombres">Katherina Mansilla</h3>
        <p class="descripciones descripciones-left">
          Soy una monarca infantil de pésimo genio. En este reino se hace solo lo que yo mande!!!
          Haré mi código rojo ordenadito y perfecto, ¡o rodará la rama de alguien!, mandaré traer
          todas las librerías del mundo, ¡YA MISMO!, y haré que todo mi equipo tome su siesta y su
          merienda a horario, ¡os juro por la Scrum Master! ¿Acaso GitHub pretende asustarnos...?
          ¡Que le corrrrrrten el merge!
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:mansillakatherina@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>

    <!--CARD RIGHT 6-->
    <article class="right-card">
      <img class="imagen img-right" src="./assets/images/rebeca.png" alt="imagen de rebeca" />
      <div class="info-card-right">
        <h3 class="nombres">Rebeca Serrano</h3>
        <p class="descripciones descripciones-right">
          Érase una vez una pequeña hada junior que vivía en una gran hondonada. Creció feliz
          durante muchos años, hasta que un día, un rey senior malvado decidió cortar sus preciosas
          alas. Desde aquel día se convirtió en programadora y con ello en la villana que hoy
          conocemos como Maléfica. Como habréis deducido esa villana soy yo, ¿os podéis imaginar?
          ¡Cortaron mis alas! Claramente planeé mi venganza al enterarme de que el rey sería padre.
          No dudé en que debería lanzar una maldición contra su primogénita, con la cual destruiría
          todo lo que ella programase. Llegó el día de presentación de la princesa al pueblo, así
          que pensé que era el momento de mi dulce venganza. Me adentré en el castillo, irrumpiendo
          en la fiesta y me dispuse a ofrecer mi "regalo" a la pequeña bebé: "Oidme bien todos. La
          princesa programará su código lleno de gracia y belleza y cuantos lo visualicen lo amarán.
          Pero antes de que se ponga el sol en su decimosexto cumpleaños se borrará su cuenta de
          GitHub perdiendo todo su porfolio y cayendo así en un bloqueo creativo tan profundo como
          la muerte del que jamás se librará."
        </p>
        <nav class="nav-rrss">
          <ul class="rrss">
            <li class="dot">
              <a class="enlace-rrss" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://www.linkedin.com/feed/" target="_blank">
                <i class="fa-brands fa-linkedin-in" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="https://github.com/" target="_blank">
                <i class="fa-brands fa-github-alt" style="color: #099d8d"></i>
              </a>
            </li>
            <li>
              <a class="enlace-rrss" href="mailto:reba4@hotmail.es" target="_blank">
                <i class="fa-solid fa-envelope" style="color: #099d8d"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>
  </div>
</section>
