// COLORES
$primary-background-color:#099d8d;
$secondary-background-color:#14d9c4;
$third-background-color: #ffffff;
$primary-color-text:#000000;
$secondary-color-text:#54585a;
$color-box:#b8b8b9;
// FUENTES
$primary-font-family: "Rubik", sans-serif;
$secondary-font-family: "Open Sans", sans-serif;



